ML model fitting and scoring: In this step, you will need to split the data into input features and
output values. In addition, you will create training and testing datasets. One particularity of this
case study is that the same task appears in both training and testing, thus data must be grouped
by task when creating training and validation sets.

3.1. Combine the task features, supplier features and costs into a single dataset with the
following columns:
Task ID TF1 … TFn SF1 … SFm Cost
Each Task ID (and its corresponding feature values) will appear multiple times (once for
each supplier). The number of rows of this dataset must be the same as the number of rows
in ‘costs.csv’. Then split the dataset into X (TF1,…,TFn, SF1,…, SFm), y (Cost), and
Groups (Task ID). Note that there will be fewer task features (TFi ) than in the original data
because of the features removed in Step 1 above.

In [3]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('new_tasks.csv')
df.head()

,TF1,TF2,TF3,TF5,TF7,TF9,TF11,TF13,TF16,TF17,...,TF52,TF55,TF61,TF64,TF67,TF69,TF85,TF105,TF109,TF113
0,1.306190,0.358771,1.237366,0.975531,0.492049,-0.425319,-0.045737,1.655600,-0.976970,-1.804008,...,-0.753586,-1.203177,-0.508838,0.508838,-0.866368,-1.167730,-0.528789,-0.555310,-1.376205,-0.063736
1,-0.444211,0.793629,-1.496383,-0.656726,1.942532,-2.304834,-0.455795,-1.492105,2.616018,1.398681,...,2.129191,-1.508473,-1.085718,1.085718,-0.866063,-1.167730,-1.220817,1.367617,-0.364394,0.516395
2,2.028493,-0.146288,0.387820,-0.199960,-0.233193,-1.007499,-0.455795,0.000609,-0.244006,-1.550838,...,0.065827,-0.592586,-0.316544,0.316544,-0.869044,-1.167730,-1.401650,-0.271779,-1.175757,1.041925
3,2.344831,1.664645,1.690463,-0.020522,0.347000,-1.949192,-0.455795,-0.533499,2.265682,1.297247,...,3.109891,-0.490821,-0.508838,0.508838,-0.866172,-1.167730,-0.592220,0.845991,-0.711307,-0.101273
4,-0.444211,0.127367,-1.912244,-0.960249,1.797484,-1.721234,-0.250766,-0.723295,1.946536,1.211864,...,1.154052,-1.610238,-1.085718,1.085718,-0.865660,-1.166717,-1.648095,0.560036,-0.728911,-1.049958