ML model fitting and scoring: In this step, you will need to split the data into input features and
output values. In addition, you will create training and testing datasets. One particularity of this
case study is that the same task appears in both training and testing, thus data must be grouped
by task when creating training and validation sets.

### 3.1

In [3]:
import pandas as pd
import numpy as np

In [10]:
df_task=pd.read_csv('new_tasks.csv')
df_task.head()

,Task ID,TF-PC1,TF-PC2,TF-PC3,TF-PC4,TF-PC5,TF-PC6,TF-PC7,TF-PC8,TF-PC9,TF-PC10
0,T1,-1.072136,-4.112075,-1.412615,-2.084710,-0.931118,-2.159641,0.697436,0.164752,0.575962,-0.584875
1,T2,-5.582651,0.431089,3.189240,2.135981,-0.576058,-2.989959,1.298395,-0.858811,-1.027600,0.100924
2,T3,-3.408808,-2.285741,-0.368202,-3.470484,0.634106,0.462173,0.271041,-0.044468,0.108393,0.321426
3,T4,-4.533433,-1.437471,1.533813,1.015918,3.259125,-3.447781,1.183841,-0.293245,0.036901,-0.345069
4,T5,-4.566601,0.360550,2.411675,1.378421,-1.357780,-2.068897,2.751120,-0.870225,-1.315924,-0.328792

In [28]:
df_supply=pd.read_csv('new_supplies1.csv')
df_supply.rename(columns={'Supplier': 'Supplier ID'}, inplace=True)
df_supply.head()

,Supplier ID,SF-PC1,SF-PC2,SF-PC3,SF-PC4,SF-PC5,SF-PC6,SF-PC7,SF-PC8,SF-PC9,SF-PC10
0,S1,-0.606217,-0.596125,0.380107,-0.753085,0.290856,0.059941,0.634112,0.392003,0.004154,-0.294537
1,S2,-0.111833,-1.002806,-0.435539,-0.881694,-0.012713,-0.201388,0.738470,1.736313,-0.140499,-0.269732
2,S3,-0.605338,-0.596193,0.381431,-0.755913,0.290945,0.059921,0.634813,0.392129,0.002576,-0.296573
3,S4,-0.649306,-0.592816,0.315245,-0.614512,0.286535,0.060907,0.599797,0.385795,0.081511,-0.194780
4,S5,-0.312686,2.641860,-0.040023,-1.486459,-2.210082,-0.951146,-0.300233,0.805622,0.023375,0.316753

In [16]:
df_cost=pd.read_csv('cost.csv')
df_cost.head()

  Task ID Supplier ID      Cost
0     T34          S1  0.478219
1     T34          S2  0.444543
2     T34          S3  0.521679
3     T34          S4  0.307331
4     T34          S5  0.357689

Merging data

In [32]:
# Merge cost_df with task_df on TaskID
merged_df = pd.merge(df_cost, df_task, on="Task ID")

# Merge the resulting DataFrame with supplier_df on SupplierID
final_df = pd.merge(merged_df, df_supply, on="Supplier ID")

# Display the resulting DataFrame
final_df

,Task ID,Supplier ID,Cost,TF-PC1,TF-PC2,TF-PC3,TF-PC4,TF-PC5,TF-PC6,TF-PC7,...,SF-PC1,SF-PC2,SF-PC3,SF-PC4,SF-PC5,SF-PC6,SF-PC7,SF-PC8,SF-PC9,SF-PC10
0,T34,S1,0.478219,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,...,-0.606217,-0.596125,0.380107,-0.753085,0.290856,0.059941,0.634112,0.392003,0.004154,-0.294537
1,T34,S2,0.444543,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,...,-0.111833,-1.002806,-0.435539,-0.881694,-0.012713,-0.201388,0.738470,1.736313,-0.140499,-0.269732
2,T34,S3,0.521679,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,...,-0.605338,-0.596193,0.381431,-0.755913,0.290945,0.059921,0.634813,0.392129,0.002576,-0.296573
3,T34,S4,0.307331,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,...,-0.649306,-0.592816,0.315245,-0.614512,0.286535,0.060907,0.599797,0.385795,0.081511,-0.194780
4,T34,S5,0.357689,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,...,-0.312686,2.641860,-0.040023,-1.486459,-2.210082,-0.951146,-0.300233,0.805622,0.023375,0.316753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7675,T130,S60,0.410605,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,...,-0.482648,0.369251,-0.336956,-1.434850,0.217552,-0.143817,-0.469618,0.879071,-0.801841,1.290927
7676,T130,S61,0.410376,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,...,-0.353100,-2.529044,1.029309,0.204413,0.575677,-0.795560,1.564290,0.261262,-0.440050,0.120993
7677,T130,S62,0.407884,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,...,1.916548,-0.371812,1.069919,1.356543,-0.247475,-2.152943,-1.337298,0.173610,-1.657324,-0.800154
7678,T130,S63,0.420536,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,...,0.239109,-0.198328,-0.402249,-0.150017,-1.388535,-1.357783,0.353641,-0.673093,1.553358,-1.279692
7679,T130,S64,0.423008,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,...,-2.174580,0.192948,1.013887,2.294821,0.115264,-0.619528,1.087813,0.103306,-0.646984,2.033477

In [88]:
X=final_df.iloc[:,3:]
X

,TF-PC1,TF-PC2,TF-PC3,TF-PC4,TF-PC5,TF-PC6,TF-PC7,TF-PC8,TF-PC9,TF-PC10,SF-PC1,SF-PC2,SF-PC3,SF-PC4,SF-PC5,SF-PC6,SF-PC7,SF-PC8,SF-PC9,SF-PC10
0,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,0.495538,-0.789395,0.565262,-0.606217,-0.596125,0.380107,-0.753085,0.290856,0.059941,0.634112,0.392003,0.004154,-0.294537
1,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,0.495538,-0.789395,0.565262,-0.111833,-1.002806,-0.435539,-0.881694,-0.012713,-0.201388,0.738470,1.736313,-0.140499,-0.269732
2,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,0.495538,-0.789395,0.565262,-0.605338,-0.596193,0.381431,-0.755913,0.290945,0.059921,0.634813,0.392129,0.002576,-0.296573
3,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,0.495538,-0.789395,0.565262,-0.649306,-0.592816,0.315245,-0.614512,0.286535,0.060907,0.599797,0.385795,0.081511,-0.194780
4,-4.004839,1.235040,-5.172287,-3.629409,0.128092,0.762265,0.366446,0.495538,-0.789395,0.565262,-0.312686,2.641860,-0.040023,-1.486459,-2.210082,-0.951146,-0.300233,0.805622,0.023375,0.316753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7675,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,1.452872,0.870963,-0.813991,-0.482648,0.369251,-0.336956,-1.434850,0.217552,-0.143817,-0.469618,0.879071,-0.801841,1.290927
7676,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,1.452872,0.870963,-0.813991,-0.353100,-2.529044,1.029309,0.204413,0.575677,-0.795560,1.564290,0.261262,-0.440050,0.120993
7677,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,1.452872,0.870963,-0.813991,1.916548,-0.371812,1.069919,1.356543,-0.247475,-2.152943,-1.337298,0.173610,-1.657324,-0.800154
7678,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,1.452872,0.870963,-0.813991,0.239109,-0.198328,-0.402249,-0.150017,-1.388535,-1.357783,0.353641,-0.673093,1.553358,-1.279692
7679,3.132301,1.973197,-2.960218,0.405674,-0.729858,-2.751500,-0.019308,1.452872,0.870963,-0.813991,-2.174580,0.192948,1.013887,2.294821,0.115264,-0.619528,1.087813,0.103306,-0.646984,2.033477

In [40]:
y=final_df.iloc[:,2]
y.head()

0    0.478219
1    0.444543
2    0.521679
3    0.307331
4    0.357689
Name: Cost, dtype: float64

In [52]:
Groups= final_df['Task ID'].unique()
Groups

array(['T34', 'T35', 'T36', 'T3', 'T7', 'T8', 'T10', 'T13', 'T16', 'T17',
       'T19', 'T20', 'T26', 'T28', 'T14', 'T21', 'T23', 'T29', 'T1', 'T4',
       'T30', 'T6', 'T12', 'T25', 'T5', 'T2', 'T27', 'T31', 'T33', 'T37',
       'T38', 'T39', 'T40', 'T41', 'T42', 'T44', 'T45', 'T46', 'T47',
       'T48', 'T49', 'T50', 'T51', 'T52', 'T53', 'T54', 'T55', 'T56',
       'T57', 'T58', 'T59', 'T60', 'T61', 'T62', 'T63', 'T64', 'T65',
       'T66', 'T68', 'T69', 'T70', 'T72', 'T73', 'T74', 'T75', 'T76',
       'T77', 'T78', 'T79', 'T80', 'T81', 'T82', 'T83', 'T84', 'T85',
       'T86', 'T87', 'T88', 'T89', 'T90', 'T91', 'T92', 'T93', 'T94',
       'T95', 'T96', 'T97', 'T98', 'T99', 'T100', 'T101', 'T102', 'T103',
       'T104', 'T105', 'T106', 'T107', 'T108', 'T109', 'T110', 'T111',
       'T112', 'T113', 'T114', 'T115', 'T116', 'T117', 'T118', 'T119',
       'T120', 'T121', 'T122', 'T123', 'T124', 'T125', 'T126', 'T127',
       'T128', 'T129', 'T130'], dtype=object)

### 3.2

In [68]:
TestGroup = final_df['Task ID'].drop_duplicates().sample(n=20, random_state=42)
TestGroup

2816     T53
3008     T56
256       T7
3520     T64
1664     T27
4096     T75
4672     T84
640      T19
2560     T49
6848    T118
1152      T1
3968     T73
704      T20
2304     T45
5696    T100
5824    T102
6976    T120
0        T34
5632     T99
6656    T115
Name: Task ID, dtype: object

In [94]:
# Split into train and test based on TaskID
X_test = final_df[final_df['Task ID'].isin(TestGroup)][X.columns]
y_test = final_df[final_df['Task ID'].isin(TestGroup)]['Cost']

X_train = final_df[~final_df['Task ID'].isin(TestGroup)][X.columns]
y_train = final_df[~final_df['Task ID'].isin(TestGroup)]['Cost']

#X_test.to_csv('x_test.csv')

In [92]:
y_train

64      0.407784
65      0.390343
66      0.389783
67      0.297320
68      0.324714
          ...
7675    0.410605
7676    0.410376
7677    0.407884
7678    0.420536
7679    0.423008
Name: Cost, Length: 6400, dtype: float64